* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Raleway", open sans;
  line-height: 1;
  font-weight: 400;
  /* color: #fff; */
  background-color: white;
}
ul {
  list-style: none;
}
.bold {
  font-family: "Raleway", open sans;
  font-weight: 700;
}
.heading-sm {
  font-size: 2.8rem;
  line-height: 1;
}
/* ***************/
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 10.2em;
  padding: 0 4.8rem;
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
}
a .logo {
  height: 3.2rem;
}
/***************/
/*NAVIGATON*/
.main-nav {
}
/**************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: hsl(238, 22%, 44%);
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(243, 87%, 12%);
}

/* HERO SECTION */
.hero-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.section-hero {
  background-color: #fff;
  padding: 3.2rem 0 9.6rem 0;
  color: hsl(243, 87%, 12%);
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}
.section-hero-2 {
  /* background-color: hsl(240, 75%, 98%); */

  padding: 3.2rem 0 9.6rem 0;
  color: hsl(243, 87%, 12%);
  margin-bottom: 9.6rem;
}
.illustration-container {
  background-image: url("images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 114px;
  width: 100%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
}
.section-hero-3 {
  background-color: hsl(238, 22%, 44%);
  padding: 3.2rem 0 6.2rem 0;
  color: hsl(240, 75%, 98%);
  /* margin-bottom: 4.8rem; */
}
.hero {
  max-width: 130rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}

.hero-2 {
  background: hsl(240, 75%, 98%);
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
  align-items: center;
  gap: 9.6rem;
}
.hero-2-ctn {
  background: hsl(240, 75%, 98%);
  padding: 0 5% 5% 5%;
}
.hero-3 {
  max-width: 130rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 0 3.2rem;
  align-items: center;
  gap: 17rem;
}
.hero-description-box {
  width: 75%;
}
.sm-font {
  font-size: 1.2rem;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  /* margin-top: 3.2rem; */
}
.hero-img {
  width: 100%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
}
.hero-email {
  width: 50%;
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 4px;
  padding: 3% 7%;
  margin-right: 5%;
  font-size: 1.05rem;
}
input[type="text"]::active {
  border-color: red;
}
.big {
  width: 100%;
}

.hero-button {
  font-weight: bold;
  color: #fff;
  width: 40%;
  background: hsl(224, 93%, 58%);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 3% 7%;
  vertical-align: middle;
  font-size: 1.25rem;
}
.hero-button::hover {
  background: hsl(210, 80%, 50%);
}
.sm {
  width: 40%;
}
.main-content__btn:hover {
  background: hsl(224, 93%, 38%);
}
.arrow-icon {
  padding: 0;
  margin: 0;
}
.link {
  display: flex;

  align-items: center;
}
.fylo-link {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
  font-size: 1.25rem;
  margin-bottom: 2.4rem;
}
.fylo-link:hover {
  color: hsl(170, 45%, 23%);
}
/* a .arrow-icon {
  margin-top: 1.25rem;
} */
.card {
  width: 50%;
  text-align: left;
  background-color: #fff;
  color: hsl(243, 87%, 12%);
  margin-top: 5%;
  padding: 5%;
  box-shadow: 0 0 15px 2px hsl(0, 0%, 75%);
}
.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  text-align: left;
}
.card-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer-right {
  width: 20%;
}
.card-footer-left {
  width: 80%;
}
.card-footer-text {
  /* padding-top: 8%; */
}

.card-footer-avatar {
  width: 90%;
  border-radius: 50%;
  padding: 5%;
}
.sect-3-right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.footer-logo-ctn {
  background-color: hsl(243, 87%, 12%);
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.footer-logo {
  width: 12rem;
}
.footer-ctn {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  /* align-items: center; */
  gap: 9.6rem;
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding-top: 1rem;
}
.email-logo,
.phone-logo {
  width: 2.5rem;
  padding-right: 1rem;
}
ion-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.ctn a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
}
.name {
  color: #000;
  font-weight: 200;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
